#currencies .ui-corner-all{
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#currencies label {
  display:inline-block;
  width:50px;
}
#currencies li {
  padding: 0;
  text-align: center;
}
#currencies .ui-li {
  border-top-width: 0;
  border-bottom-width: 1px;
}
#currencies input {
  width: 150px;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
.center {
  text-align: center;
}
.ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner {
  padding: 0;
}
.ui-icon {
  background-image: url(icons-18-white.png);
}
#about a {
  text-decoration: none;
}
