<!DOCTYPE html>
<html manifest="/application.manifest">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Currency convertor that can look up multiple currencies at the same time instantly. Use it on your mobile phone such as iPhone/Android and save it to your home screen like a native app.">
  <meta name="keywords" content="currency,convertor,app,iphone,andriod">
  <meta name="author" content="Mingmin Xie">
  <title>Currency Converter</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css">
  <%= stylesheet_link_tag "application", media: "all" %>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
